@import '~assets/css/variables'

.reset--padding
  padding 0 !important

.reset--margin
  margin 0 !important

.reset--margin-top
  margin-top 0 !important

.reset--margin-bottom
  margin-bottom 0 !important

.base-margin
  margin $vertical-rhytm-base 0

.base-margin--half
  margin $vertical-rhytm-half 0

.base-margin--top
  margin-top $vertical-rhytm-base !important

.base-margin--bottom
  margin-bottom $vertical-rhytm-base

.base-margin--bottom--negative
  margin-bottom "-%s" % $vertical-rhytm-base

.base-margin--double
  margin-bottom $vertical-rhytm-double !important

.base-margin-small
  margin $vertical-rhytm-half 0

.base-margin-small--bottom
  margin-bottom $vertical-rhytm-half

.base-padding
  padding $vertical-rhytm-base 0

.base-padding--right
  padding-right $vertical-rhytm-base
