.react-notification
  background-color transparent
  transition 0.3s ease-in-out

:global
  .notifications-tc
    position fixed
    top 10px
    left 0
    right 0
    margin 0 auto
    z-index 10
    text-align center
    transition 0.3s ease-in-out
    max-width 360px

  .notification
    background-color #09a8d5
    color #fff
    margin 0
    transition 0.3s ease-in-out
    will-change transform, opacity
    padding 12px
    font-size 14px
    border-radius 0
    transform translate3d(0, -50px, 0)
    opacity 0

  .notification-hidden
    transform translate3d(0, -50px, 0)
    opacity 0

  .notification-visible
    transform translate3d(0, 0, 0)
    opacity 1

  .notification-error
    background-color #d42222
    color #fff

  .notification-dismiss
    display none
