@import '~assets/css/variables'

.controls
  position relative

.isFocused
  color $brand-primary

.form-control
  position absolute
  width 0
  height 0
  visibility hidden
  text-indent -9999px

.inputWrapper
  align-items center
  display flex

.inline
  padding-bottom 0

  &.controls
    padding-left 150px

.control-label
  padding-left 30px
  font-weight normal
  position relative
  padding-top 1px

  &:before,
  &:after
    content ''
    display block
    position absolute
    width 18px
    height 18px
    left 0
    top 2px
    border-radius 50%

  &:before
    background-color #fff
    border 1px solid $form-input-border-color

  &:after
    background-color transparent
    width 10px
    height 10px
    top 6px
    left 4px

  .form-control:checked + &
    &:after
      background-color #1170d9

