@import '~assets/css/variables'

$line-margin = 13px

.wrapper
  width 56px
  height 56px
  border 3px solid $brand-danger
  border-radius 50%
  margin 0 auto $vertical-rhytm-base
  position relative
  box-sizing content-box

.line
  position absolute
  height 5px
  width 30px
  background-color $brand-danger
  display block
  top 26px
  border-radius 2px

.lineLeft
  transform rotate(45deg)
  left $line-margin

.lineRight
  transform rotate(-45deg)
  right $line-margin

@keyframes animateIcon
  0%
    transform rotateX(100deg)
    opacity 0
  to
    transform rotateX(0deg)
    opacity 1

.animateIcon
  animation animateIcon .5s

@keyframes animateMark
  0%
    transform scale(.4)
    margin-top 26px
    opacity 0

  50%
    transform scale(.4)
    margin-top 26px
    opacity 0

  80%
    transform scale(1.15)
    margin-top -6px

  to
    transform scale(1)
    margin-top 0
    opacity 1

.animateMark
  animation animateMark .5s
  display block
  position relative
