@import '~assets/css/variables'

.wrapper
  border-bottom 1px solid $color-border
  height 60px

.content
  display flex
  align-items center
  margin 0

.logo
  margin-right 28px

.btnLogout
  margin-left auto
