@import '~assets/css/variables'

.wrapper
  padding-bottom 32px
  border-bottom 1px solid $color-border
  border-right 1px solid $color-border
  display block
  overflow hidden
  position relative
  text-decoration none
  color #000
  transition .15s ease border-right-color
  &:focus,
  &:active
    color #000
  &.isActive
    border-right-color #fff
    .title
      > a
        color $brand-primary

.title
  margin-bottom 0
  > a
    color #000
    display block
    padding $vertical-rhytm-base
    padding-left 0
    padding-bottom 0
    transition $transition-color
    &:hover
      color $brand-primary

.hasImage
  display flex

.image
  display block
  width 148px
  height 93px
  background-size cover
  background-position 50%
  border-radius $border-radius

.imageLink
  padding-top 32px
  display block
  margin-right 15px

.meta
  display flex

.author
  margin-right 16px
  position relative
  &:after
    content ''
    position absolute
    height 3px
    width 3px
    right -9px
    top 9px
    background $color-gray-alpha
    display block
    border-radius 50%
