@import '~assets/css/variables'

.ribbon
  width 50px
  background $color-border
  position absolute
  top 0px
  left -25px
  text-align center
  line-height 15px
  transform rotate(-45deg)
  -webkit-transform rotate(-45deg)
