@import '~assets/css/variables'

.wrapper
  display flex
  height 100vh

col()
  display flex
  align-items center
  justify-content center
  flex-direction column
  flex 1

.col-left
  display none

  @media $md-up
    col()
    background url('assets/img/login-background.png')
    background-size cover

    .reset-password-wrapper &
      background url('assets/img/password-reset.png')
      background-size cover
      background-position 50% 100%

  .simple-wrapper &
    display none

.col-right
  col()

.content
  min-width 360px

.logo
  margin-bottom 0
