@import '~assets/css/variables'

.tagsList
  display flex
  flex-wrap wrap

.tagsTitle
  color $color-gray-alpha
  margin-top 39px
  margin-bottom 13px
  display block

.tag
  display flex
  align-items center
  margin-right 10px
  margin-bottom 26px
  transition .15s ease opacity

  h3
    margin 0
    padding 0

  button
    background none
    outline none
    margin 0
    padding 0
    border 0
    width 18px
    height 18px
    display block
    background $brand-primary
    text-align center
    border-radius 50%
    color #fff
    font-size 9px
    margin-left 5px
    margin-right 5px
    transition .15s ease background
    &:hover
      background $brand-danger

.duplicateTags
  display block
  color $color-error
  font-size 14px
  padding 0
  opacity 0
  max-height 0
  transform translate3D(0, -15px, 0)
  transition transform .15s, opacity .25s .05s, max-height .15s
  padding-left 150px
  margin-top -20px
  margin-bottom 10px

  &.duplicateTagsVisible
    opacity 1
    transform translate3D(0, 0, 0)
    max-height none

.tagDeleted
  opacity .5
