@import '~assets/css/variables'

.wrapper
  font-size 16px
  font-family $font-custom
  color #000
  margin-bottom $vertical-rhytm-base

.noOffset
  margin-bottom 0

.dot
  color $brand-primary

.large
  font-size 26px