@import '~assets/css/variables'

.wrapper
  display flex
  flex-wrap wrap

  > .result
    flex-grow 1
    width 33%
    margin-bottom 24px
    padding 24px 12px
    text-align center
    border-left 1px solid $color-border
    color $form-input-label-color

    &:nth-child(3n+1)
      border-left none

    > .value
      font-family $font-custom
      font-size 24px
      color #000

.count
  margin 6px 0 3px

.title
  color #000

.total
  text-align center
  margin 12px 0 24px